In [1]:
x = "elma"
y = "potakal"
z = "armut"
t = False
k = 3.14

In [2]:
print(x)
print(y, z, sep="-")
print(k, end="*")

elma
potakal-armut
3.14*

In [4]:
print(r"TechPro\n is perfect")

TechPro
 is perfect

In [5]:
bool("enes")

True

In [11]:
bool(None)

False

In [14]:
5 and 8 and 9

9

In [16]:
False or 0 or [] or {}

{}

In [17]:
False or 1 or 8 or {}

1

In [18]:
False or 5 and not 0

True

In [19]:
c

True

In [20]:
print("a")

a

In [21]:
print("a")

a

In [22]:
False or 5 and not 0

True

In [24]:
string_int("5")

5

In [2]:
a = int(input())
b = int(input())
print(a//b)
print(a/b)

1
1.3333333333333333

In [9]:
n = int(input())
print(((n - n))**2)
print(((n - n + 1))**2)
print(((n - n + 2))**2)
print(((n - n + 3))**2)
print(((n - n + 4))**2)

0
1
4
9
16

In [10]:
var ,  var1 ,  var2  =  1 , 2 , 3 
print(var) 
print(var1 ,  var2)

1
2 3

In [45]:
n = int(input())
v =""
for i in range(n):
   v = v + str(i+1)
print(int(v**2))

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [43]:
n = int(input())
list(range(n))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
n = int(input())
print(for i in range(n)

SyntaxError: invalid syntax (2123981522.py, line 2)

In [26]:
v =""
type(v)

str

In [37]:
r = (range(0, 20, 2))
r.index(10)

5

In [36]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [38]:
r[5]

10

In [42]:
r[1:]

range(2, 20, 2)

In [1]:
n = int(input()) 
i = 0 
for i in range(0, n): 
    print(i * i) 
    i += 1

1
4
9
16
25

In [57]:
a = "this is a string"
a = a.split(" ")
print(a)

['this', 'is', 'a', 'string']

In [66]:
a = "this is a string"
a = a.split().join("-")
print(a)

AttributeError: 'list' object has no attribute 'join'

In [65]:
a = "this is a string"
a = a.replace(" ", "-" )
print(a)

this-is-a-string

In [3]:
str1 = "We didn't leave anyone Behind"

In [5]:
print(str1.lower())
print(str1)

we didn't leave anyone behind
We didn't leave anyone Behind

In [8]:
str1 = "We did not leave anyone Behind"

In [9]:
str1.title()

'We Did Not Leave Anyone Behind'

In [11]:
"title cumledeki kelimelerin ilk harfini buyuk yapar".title()

'Title Cumledeki Kelimelerin Ilk Harfini Buyuk Yapar'

In [12]:
str1.capitalize()

'We did not leave anyone behind'

In [15]:
'We did not leave anyone behind'.capitalize()

'We did not leave anyone behind'

In [19]:
'15We did not leave anyone Behind'.capitalize()

'15we did not leave anyone behind'

In [24]:
'We did not leave anyone behind', 'We did not leave anyone Behind'.capitalize()

('We did not leave anyone behind', 'We did not leave anyone behind')

In [25]:
str1.upper()

'WE DID NOT LEAVE ANYONE BEHIND'

In [26]:
str1.swapcase()

'wE DID NOT LEAVE ANYONE bEHIND'

In [27]:
str1.lower().swapcase()

'WE DID NOT LEAVE ANYONE BEHIND'

In [28]:
str2 = 'TECHPRO IS THE BEST COURSE IN THE WORLD'

In [31]:
str2 = str2.capitalize()

In [32]:
str2

'Techpro is the best course in the world'

In [41]:
str2.replace("e", "a", 1)

'Tachpro is the best course in the world'

In [43]:
str2.replace("e", "a", 2)

'Tachpro is tha best course in the world'

In [44]:
str1.isalnum()

False

In [45]:
str1

'We did not leave anyone Behind'

In [47]:
"Wedidnot12345".isalnum()

True

In [51]:
"Wedidnot".isalpha()

False

In [61]:
"65".isnumeric()

True

In [77]:
str12 = "Kerimrr"
str12.find("m")

4

In [86]:
str14 = "Tachpro is tha best course in the world is"

len(str14)

42

In [87]:
str14.rindex("is")

40

In [ ]:
list_ = []

In [1]:
list_1 = [10, 20, 30]

In [2]:
print(list_1)

[10, 20, 30]

In [5]:
list_2 = [1.5, 10.37]
print(list_2)

[1.5, 10.37]

In [7]:
list_3 = ["one", "two", "three", "four"]

In [8]:
print(list_3)

['one', 'two', 'three', 'four']

In [14]:
list_4 = ["Asif", 25, 25.5, 50]

In [10]:
print(list_4)

['Asif', 25, 25.5]

In [15]:
len(list_4)

4

In [46]:
list_5 = ["Asif", 25, 25.5, 50, [100, 8, 5], {"Kerim","Ali","SEdat","Burak"}, "Cigdem", "Ufuk"]

In [47]:
len(list_5)

8

In [50]:
list_5[5]

{'Ali', 'Burak', 'Kerim', 'SEdat'}

In [55]:
list_5.insert(1,10)
list_5

['Asif',
 10,
 25,
 25.5,
 50,
 [100, 8, 5],
 {'Ali', 'Burak', 'Kerim', 'SEdat'},
 'Cigdem',
 10,
 12,
 15,
 15,
 'Ufuk']

In [61]:
list_5.append(185)
list_5

['Asif',
 10,
 25,
 25.5,
 50,
 [100, 8, 5],
 {'Ali', 'Burak', 'Kerim', 'SEdat'},
 'Cigdem',
 10,
 12,
 15,
 15,
 'Ufuk',
 88,
 88,
 50,
 45,
 185]

In [76]:
list_5.remove({'Ali', 'Burak', 'Kerim', 'SEdat'})

In [77]:
list_5

['Asif', 10, 25, [100, 8, 5], 'Cigdem', 10, 12, 15, 15, 'Ufuk', 88, 45]

In [86]:
list_5.pop()

['Asif', 10, 25, [100, 8, 5], 'Cigdem', 10, 12, 15, 'Ufuk']

In [85]:
list_5

['Asif', 10, 25, [100, 8, 5], 'Cigdem', 10, 12, 15, 'Ufuk']

In [89]:
list_5.pop(7)
list_5

['Asif', 10, 25, [100, 8, 5], 'Cigdem', 10, 12]

In [90]:
del list_5

NameError: name 'list_5' is not defined