# Â¨Pyton Uygulama

<font color= 'red'> 09.10.2022

image.png

In [2]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [6]:
print("Ahmet", "Mehmet", "Ali", sep="    ", end='\t')
print("Alta gecti")

Ahmet    Mehmet    Ali	Alta gecti

In [11]:
isim = "Ali"
yas = 35
print("isim : {}, \nyas : {} ".format("Ahmet",35))

isim : Ahmet,
yas : 35

In [12]:
print("numara %d"%10.55)

numara 10

In [14]:
print("numara %g"%10.55)

numara 10.55

In [16]:
print("{1:>30}".format("merhaba", "Hello"))

                         Hello

In [17]:
print("{0:>30}".format("merhaba", "Hello"))

                       merhaba

In [18]:
print("{0:<30}".format("merhaba", "Hello"))

merhaba

In [19]:
print("{0:^30}".format("merhaba", "Hello"))

           merhaba

In [20]:
print("{0:*^30}".format("merhaba", "Hello"))

***********merhaba************

In [22]:
print("{0:-^30}".format("merhaba", "Hello"))

-----------merhaba------------

In [25]:
print(("#"*2).center(10,"-"))

----##----

In [27]:
print(("#"*4).center(20,"-"))

--------####--------

In [37]:
print("{0:0}      {1:0}".format(100,1234566789))

100      1234566789

In [43]:
f_name = "Ali"
l_name = "Gel"
print(f" ismi {f_name} oln arkadas {l_name}")

 ismi Ali oln arkadas Gel

In [45]:
mesage = f"{f_name} {l_name} bir sanatcidir"
mesage

'Ali Gel bir sanatcidir'

In [49]:
mesage = f"\"{f_name}\"\"{l_name}\" bir sanatcidir"
mesage

'"Ali""Gel" bir sanatcidir'

In [53]:
mesage = f"""""{f_name}" "{l_name}" bir sanatcidir"""
mesage

'""Ali" "Gel" bir sanatcidir'

In [66]:
st = "Pyton"
print(st.upper())

PYTON

In [57]:
st = st.upper()
st

'PYTON'

In [67]:
st.lower()

'pyton'

In [70]:
st = st + " ders"

In [71]:
st

'Pytonders ders'

In [72]:
st.split()

['Pytonders', 'ders']

In [73]:
len (st.split())

2

In [75]:
st.swapcase()

'pYTONDERS DERS'

In [77]:
st.split("t")

['Py', 'onders ders']

In [79]:
'1,2,,3,'.split(',')

['1', '2', '', '3']

In [85]:
'1,,2,3,'.split(',')

['1', '', '2', '3', '']

In [87]:
'1,2,3,4,5,6,7,8,9'.split(',', maxsplit=5)

['1', '2', '3', '4', '5', '6,7,8,9']

In [88]:
'1,2,3,4,5,6,7,8,9'.split(',', maxsplit=3)

['1', '2', '3', '4,5,6,7,8,9']

In [89]:
'1 2 3'.split()

['1', '2', '3']

In [90]:
'1 2 3'.split(maxsplit=1)

['1', '2 3']

In [91]:
'   1   2   3   '.split()

['1', '2', '3']

In [93]:
'  1   2   3 '.split()

['1', '2', '3']

In [97]:
st = 'Python'
st

'Python'

In [98]:
for i in st:
    print(i,end="\t")

P	y	t	h	o	n

In [107]:
for i in st:
    print(i, end="\t")
print()
print(st)
print(list(st))
print(*st)

P	y	t	h	o	n
Python
['P', 'y', 't', 'h', 'o', 'n']
P y t h o n

In [109]:
s = ["Ali", "veli", "Ayse"]

In [111]:
for x in s:
    print(x)
print(s)

Ali
veli
Ayse
['Ali', 'veli', 'Ayse']

In [115]:
st
d = st.split("t")
print(d)

['Py', 'hon']

In [118]:
f = st +"S"
f

'PythonS'

In [122]:
st = "Python ogrenymek coyk zevykli"
print(st.split(sep="y",maxsplit = 3))
print(st.split("y",3))

['P', 'thon ogren', 'mek co', 'k zevykli']
['P', 'thon ogren', 'mek co', 'k zevykli']

In [123]:
"P" in st

True

In [127]:
for karakter in st:
    print(karakter, end="\t")

P	y	t	h	o	n	 	o	g	r	e	n	y	m	e	k	 	c	o	y	k	 	z	e	v	y	k	l	i

In [137]:
for i in range(10,0,-2):
    print(i, end="\t")

10	8	6	4	2

In [140]:
a = True
b = False
c = "False"
type(a)
type(c)

str

In [142]:
x = 10; y = 20
x,y = 10,20
x = y= z = t = 30

In [143]:
x

30

In [144]:
x, y = y,x

In [145]:
x

30

In [147]:
x != y

False

In [152]:
liste = ["z", "5", "a", 5, "s", "h", 5 ]
liste = ["a", "b"] + liste
liste.insert(4,3)
liste

['a', 'b', 'z', '5', 3, 'a', 5, 's', 'h', 5]

In [155]:
liste.append("3")
liste

['a', 'b', 'z', '5', 3, 'a', 5, 's', 'h', 5, '3', '3']

In [156]:
del liste[2:5]

In [157]:
liste

['a', 'b', 'a', 5, 's', 'h', 5, '3', '3']

In [158]:
del liste[3], liste[5]

In [159]:
liste

['a', 'b', 'a', 's', 'h', '3', '3']

In [160]:
a = liste.pop()

In [162]:
a
liste

['a', 'b', 'a', 's', 'h', '3']

In [163]:
liste.pop(2)

'a'

In [164]:
liste

['a', 'b', 's', 'h', '3']

In [ ]:
liste.sort()

In [173]:
aa = [1, 5, 7, 9, 2, 3, 11, 10]

In [174]:
aa.reverse()
aa

[10, 11, 3, 2, 9, 7, 5, 1]

In [169]:
aa.sort(reverse= True)

In [170]:
aa

[11, 10, 9, 7, 5, 3, 2, 1]

In [177]:
if 5 > 2:
   print("Five is greater than two!")

Five is greater than two!

In [181]:
def myfunc():
    global x
x = "fantastic"

In [182]:
x

'fantastic'

In [188]:
txt = " Hello World "
x = txt.strip()
x

'Hello World'

In [189]:

txt = "Hello World"
txt = txt.replace("H", "j")

In [190]:
txt

'jello World'

In [191]:
print(bool("abc"))

True

In [193]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(2,"lemon")

In [194]:
fruits

['apple', 'banana', 'lemon', 'cherry']

In [197]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")

In [198]:
fruits

['apple', 'cherry']

In [201]:
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

cherry

In [202]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[3:6])

['orange', 'kiwi', 'melon']

In [206]:
fruits = ["apple", "banana", "cherry"]
print(fruits.index("banana"))

1

In [215]:
liste1 = [10,15, 21, 33, 46, 55,62,72,77]
for i in liste1:
   if i % 3 == 0:
      print(i)

15
21
33
72

In [213]:
print(i)

77

In [2]:
myset = {1, 2, 3, 4, 5}
myset

{1, 2, 3, 4, 5}

In [4]:
len(myset)

5

In [6]:
my_set = {1, 1, 2, 3, 3, 4, 5, 5}
my_set

{1, 2, 3, 4, 5}

In [7]:
my_set = {1.1, 1.2, 2.5, 3.00, 3.01, 4.05, 5.15, 5.58}
my_set

{1.1, 1.2, 2.5, 3.0, 3.01, 4.05, 5.15, 5.58}

In [9]:
my_set1 = {"Ali", "Kerim", "Kamil", "Ali"}
my_set1

{'Ali', 'Kamil', 'Kerim'}

In [11]:
mu_set2 = set(('one', 'two', 'three'))
mu_set2

{'one', 'three', 'two'}

In [12]:
type(mu_set2)

set

In [15]:
my_set3 = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
my_set3

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [16]:
my_set3 = {"one", "two", "three", "four", "five", "six", "seven", "eight"}
my_set3

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [19]:
my_set3 = {"one", "two", "three", "four", "five", "six", "seven", "eight"}
for i in my_set3:
    print(i)

two
seven
six
three
five
four
eight
one

In [22]:
my_set4= {1, 3, 2, 7, 6, 5}

In [23]:
my_set4

{1, 2, 3, 5, 6, 7}

In [24]:
my_set3

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [27]:
if 'ten' in my_set3:
    print('There is present in the set')
else:
    print('There is not precent in the set')

There is not precent in the set

In [31]:
my_set4

{1, 2, 3, 5, 6, 7}

In [56]:
my_set3.pop()

KeyError: 'pop from an empty set'

In [57]:
my_set3

set()

In [49]:
my_set4.pop()

6

In [1]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [3]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [6]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x, end=".")

apple.banana.cherry.

In [7]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [8]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [9]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [10]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [12]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [13]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [14]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [15]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [16]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [17]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [19]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, ":", y)

red : apple
red : banana
red : cherry
big : apple
big : banana
big : cherry
tasty : apple
tasty : banana
tasty : cherry

In [22]:
for x in [0, 1, 2]:
  pass

In [27]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)

In [28]:
fruits

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [34]:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
fruits

{'apple', 'cherry'}

In [32]:
fruits

{'apple', 'cherry'}

In [49]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["year"] = 2020

In [50]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [51]:
car["color"] = "red"

In [52]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red'}