In [6]:
print("Tesekkurler")

Tesekkurler

In [7]:
#PEP KURALLARI

In [8]:
print("I'a, a python student") #79 karakterden fazla olamaz

I'a, a python student

#COMMENTS

In [9]:
3+5 #3 ile 5 in toplami

8

###Variables

In [10]:
age= 35
name= "sedat"
pi_number= 3.14

In [11]:
age

35

In [12]:
my_age= 30
your_age= 28
my_age=your_age

In [13]:
my_age

28

In [14]:
apples=25

In [15]:
k,n ="apple","banana"

In [16]:
k

'apple'

In [17]:
n

'banana'

DATA TYPES

In [ ]:
"Hello World" # str

In [18]:
print(type("3"))

<class 'str'>

In [19]:
print(type(3))

<class 'int'>

In [20]:
print("3"*5)

33333

In [21]:
print(3+3)

6

In [22]:
pi_number= 3.14

In [23]:
print(type(pi_number))

<class 'float'>

In [25]:
list_1 = ["apple", 15, 10.23]

In [26]:
print(type(list_1))

<class 'list'>

In [27]:
x= False

In [28]:
print(type(x))

<class 'bool'>

In [1]:
print("hello")

hello

In [1]:
print(aa)

NameError: name 'aa' is not defined