# Python

In [1]:
st = "Pyton"

In [2]:
print(st.upper())

PYTON

In [3]:
st

'Pyton'

In [4]:
st = st.upper()

In [5]:
st

'PYTON'

In [6]:
st.lower()

'pyton'

In [7]:
st = st + "   ders"
st

'PYTON   ders'

In [8]:
st.split()

['PYTON', 'ders']

In [9]:
len(st.split())

2

In [10]:
st

'PYTON   ders'

In [11]:
st.swapcase()

'pyton   DERS'

In [12]:
st.split("T")

['PY', 'ON   ders']

In [13]:
st = "Python"

In [19]:
for i in st:
    print(i,end="\t")
print()
print(st)
print(list(st))
print(*st)

P	y	t	h	o	n
Python
['P', 'y', 't', 'h', 'o', 'n']
P y t h o n

In [24]:
s = ["ali", "veli", "ayse"]

In [26]:
from xml.etree.ElementPath import prepare_parent


for x in s:
    print(x)
print(s)

ali
veli
ayse
['ali', 'veli', 'ayse']

In [27]:
st

'Python'

In [32]:
d = st.split("t")
print(d)
#st[0] = "A"
f = st[0:6] + "s"
f

['Py', 'hon']

'Pythons'

In [40]:
st1 = "Pyton Ogrenmek Coyk Zevykli"
print(st1.split(sep="y", maxsplit =3))
print(st1.split("y",3))

['P', 'ton Ogrenmek Co', 'k Zev', 'kli']
['P', 'ton Ogrenmek Co', 'k Zev', 'kli']

In [42]:
"P" in st1

True

In [44]:
for karekter in st1:
    print(karekter,end=('\t'))

P	y	t	o	n	 	O	g	r	e	n	m	e	k	 	C	o	y	k	 	Z	e	v	y	k	l	i

In [45]:
for karekter in st1:
    print(karekter)

P
y
t
o
n

O
g
r
e
n
m
e
k

C
o
y
k

Z
e
v
y
k
l
i

In [49]:
for i in range(10):
    print(i,end="\t")

0	1	2	3	4	5	6	7	8	9

In [50]:
for i in range(1,10):
    print(i,end="\t")

1	2	3	4	5	6	7	8	9

In [51]:
for i in range(0,10,2):
    print(i,end="\t")

0	2	4	6	8

In [52]:
for i in range(10,0,-2):
    print(i,end="\t")

10	8	6	4	2

In [ ]:
#range(5) = 0 1 2 3 4

In [54]:
a = True
b = False
c = "False"
type(c)

str

In [55]:
x = 10; y =20 
x, y = 10, 20
#x=y=z=t=30

In [56]:
x

10

In [57]:
y

20

In [59]:
x,y = y,x

In [60]:
x

20

In [61]:
x == y

False

In [62]:
x != y

True

In [63]:
print(not x==y)

True

In [74]:
liste = ["2", "5", "a", 5, "s", "c", "h", 5]
liste = ["a", "b"] + liste
liste.insert(4,3)
liste.append(3)
del liste[2:5]
del liste[3], liste[5]
liste

['a', 'b', 'a', 's', 'c', 5, 3]

In [71]:
liste

['a', 'b', '2', '5', 3, 'a', 5, 's', 'c', 'h', 5, 3]

In [75]:

liste

['a', 'b', 'a', 's', 'c', 5, 3]

In [76]:
a = liste.pop()
a

3

In [77]:
a

3

In [78]:
liste.pop(2)

'a'

In [80]:
liste = ["1","50","5","aaa","c","h","A"]

In [82]:
liste.sort()
liste

['1', '5', '50', 'A', 'aaa', 'c', 'h']

In [84]:
ord("1")

49

In [86]:
sorted("çiçek", key= locale("çiçek").strxfrm,resere=True)

NameError: name 'locale' is not defined

In [87]:
x = 256
y = 256
x is y

True

In [88]:
x = 257
y = 257
x is y

False

In [89]:
x = 257
y = 257
y is x

False