In [2]:
print("hello")

hello

In [4]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [5]:
true = "3"

In [6]:
true

'3'

In [7]:
x = "Techpro"
y=x
x = "python"

In [9]:
print(y)
print(x)

Techpro
python

In [14]:
person ="John"
age = 30
department = "Data Science"
salary = 120000
person = "adam"
age = 32
department = "Web Devoloper"
#salary = 110000

In [15]:
print(person)
print(department)
print(salary)
print(age)

adam
Web Devoloper
120000
32

#type Conversion

In [9]:
str(int(3))

'3'

In [17]:
age = 30
converted_age = str(age)
type(converted_age)

str

In [18]:
print(converted_age)

30

In [20]:
x = 30
str(x)

'30'

In [22]:
type(int(x))

int

In [3]:
pi = 3.14
pi = int(pi)

In [4]:
type(pi)

int

In [1]:
age = 2

In [2]:
y = 5.2

In [4]:
y = int(y)
y

5

In [8]:
z = 5.9
z = int(z)
z

5

## int to float

In [12]:
x = 3
x = float(x)
print(x)

3.0

In [14]:
pi = "3.14"
pi = float(pi)
pi

3.14

In [15]:
type(pi)

float

In [16]:
age = "30"
age = float(age)
age

30.0

In [20]:
x = 25
y = "15"
z = "2.5"
w = "I'm at_"

In [22]:
print(x - int(y))
print(x - float(z))
print(z + str(x))

10
22.5
2.525