In [2]:
a = int(input("bb")) #SonuÃ§ True ise artik yildir.
if (a % 100 != 0 and  a % 4 == 0) or a % 400 == 0:
    print("artik yildir.")
else: 
    print("artik yil degildir.")

artik yildir.

In [5]:
list("kemal")

['k', 'e', 'm', 'a', 'l']

In [6]:
list["kemal"]

list['kemal']

In [7]:
liste_1 = list([15, 20, 25])

In [8]:
liste_1

[15, 20, 25]

In [9]:
liste_1[0]

15

In [10]:
type(0)

int

In [12]:
[15, 20, 25][1:]

[20, 25]

In [17]:
liste_2 = [3, "hello", True, 3.15, (3, 5), [15, 20, 25],  {"name": "sedat"}]

In [15]:
liste_2[5]

[15, 20, 25]

In [18]:
liste_2[6]

{'name': 'sedat'}

In [20]:
type(liste_2[4])

tuple

In [21]:
liste_2

[3, 'hello', True, 3.15, (3, 5), [15, 20, 25], {'name': 'sedat'}]

In [27]:
(liste_2[0]) == (liste_2[4][0])

True

In [28]:
liste_2

[3, 'hello', True, 3.15, (3, 5), [15, 20, 25], {'name': 'sedat'}]

In [31]:
str(liste_2[2])[0]

'T'

    ##basic opretation with lists

In [37]:
sayilar = [1, 2, 3, 4, 5]
sayilar

[1, 2, 3, 4, 5]

append()

In [41]:
sayilar.append(6)
sayilar

[1, 2, 3, 4, 5, 6, 7, 7, 6]

In [42]:
sayilar.append(7)
sayilar

[1, 2, 3, 4, 5, 6, 7, 7, 6, 7]

In [43]:
sayilar.append("hi")

In [44]:
sayilar

[1, 2, 3, 4, 5, 6, 7, 7, 6, 7, 'hi']

In [45]:
sayilar.append([15, 26])

In [46]:
sayilar

[1, 2, 3, 4, 5, 6, 7, 7, 6, 7, 'hi', [15, 26]]

In [47]:
sayilar.append(False)

In [48]:
sayilar

[1, 2, 3, 4, 5, 6, 7, 7, 6, 7, 'hi', [15, 26], False]

###insert()

In [49]:
sayilar

[1, 2, 3, 4, 5, 6, 7, 7, 6, 7, 'hi', [15, 26], False]

In [50]:
sayilar.insert(2, "yana kay 3")

In [51]:
sayilar

[1, 2, 'yana kay 3', 3, 4, 5, 6, 7, 7, 6, 7, 'hi', [15, 26], False]

In [56]:
numbers = [1, 4, 9, 16, 25]

In [57]:
numbers.insert(-1,36)

In [58]:
numbers

[1, 4, 9, 16, 36, 25]

remove()

In [59]:
numbers.remove(36)

In [60]:
numbers

[1, 4, 9, 16, 25]

sort()

In [62]:
liste_3 = [1, 5, 1, 6, 2, 7]
liste_3

[1, 5, 1, 6, 2, 7]

In [63]:
liste_3.sort()

In [64]:
liste_3

[1, 1, 2, 5, 6, 7]

In [66]:
liste_4 = [1, 5, 9, 10,"hi", "world"]

In [67]:
liste_4.srt()

AttributeError: 'list' object has no attribute 'srt'

In [68]:
liste_5 = ["apple", "orange", "banana", "pine apple"]

In [70]:
liste_5.sort()
liste_5

['apple', 'banana', 'orange', 'pine apple']

In [72]:
liste_5.sort(reverse=True)

In [73]:
liste_5

['pine apple', 'orange', 'banana', 'apple']

In [74]:
sayilar

[1, 2, 'yana kay 3', 3, 4, 5, 6, 7, 7, 6, 7, 'hi', [15, 26], False]

In [76]:
sayilar.remove("yana kay 3")

In [77]:
sayilar.remove("hi")

In [78]:
sayilar.remove(False)

In [79]:
sayilar.remove([15, 26])

In [80]:
sayilar

[1, 2, 3, 4, 5, 6, 7, 7, 6, 7]

In [84]:
sayilar.sort(reverse=True)

In [85]:
sayilar

[7, 7, 7, 6, 6, 5, 4, 3, 2, 1]

In [86]:
sayilar.sort(reverse=False)

In [87]:
sayilar

[1, 2, 3, 4, 5, 6, 6, 7, 7, 7]

###pop()

In [88]:
thislist = ["banana", "cherry", "Kiwi", "Orange"]

In [90]:
thislist.pop(0)

'banana'

In [91]:
thislist

['cherry', 'Kiwi']

In [92]:
sayilar

[1, 2, 3, 4, 5, 6, 6, 7, 7, 7]

In [97]:
sayilar.pop(-2)

6

In [98]:
sayilar

[1, 2, 3, 4, 5, 6, 7]

In [100]:
sayilar.pop(1)

2

In [101]:
sayilar

[1, 3, 4, 5, 6, 7]

###Clear

In [102]:
liste_2

[3, 'hello', True, 3.15, (3, 5), [15, 20, 25], {'name': 'sedat'}]

In [103]:
liste_2.clear()

In [104]:
liste_2

[]

del()

In [105]:
liste_3

[1, 1, 2, 5, 6, 7]

In [106]:
del liste_3[2]

In [107]:
liste_3

[1, 1, 5, 6, 7]

In [108]:
del liste_3[1:3]

In [109]:
liste_3

[1, 6, 7]

In [111]:
del liste_3

In [112]:
liste_3

NameError: name 'liste_3' is not defined

In [113]:
liste_1

[15, 20, 25]

extend

In [119]:
liste_4

[1,
 5,
 9,
 10,
 'hi',
 'world',
 'pine apple',
 'orange',
 'banana',
 'apple',
 'pine apple',
 'orange',
 'banana',
 'apple',
 'pine apple',
 'orange',
 'banana',
 'apple']

In [115]:
liste_5

['pine apple', 'orange', 'banana', 'apple']

In [118]:
liste_4.extend(liste_5)
liste_4

[1,
 5,
 9,
 10,
 'hi',
 'world',
 'pine apple',
 'orange',
 'banana',
 'apple',
 'pine apple',
 'orange',
 'banana',
 'apple',
 'pine apple',
 'orange',
 'banana',
 'apple']